@page
@model Meuowe.Areas.Identity.Pages.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="alert alert-secondary text-center" role="alert">
    Thank you for the paw prints you have left on the world.
</div>