@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row text-center">
        <div class="col-12 col-sm-12">
            <p class="text-primary">privacy policy</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-12 col-sm-12">
            <p class="text-primary">meuowe ;)</p>
       </div>
    </div>
</div>
