@page
@model Meuowe.Areas.Account.Pages.Authentication.ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = Meuowe.Areas.Navigation.Pages.ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="meuowe-jumbotron">
                <h3 class="text-orange">change password</h3>
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.OldPassword" class="form-control" placeholder="old password" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.NewPassword" class="form-control" placeholder="new password" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="confirm new password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn meuowe-button-primary">change password</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
